@model IEnumerable<SMMC.Models.Student>

@{
    ViewData["Title"] = "View Contact Update";
}
<br />
<h2>Contact Update Info</h2>
<hr />
<br />

<table class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Contact Number
            </th>
            <th>
                Email
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emailAddress)
                </td>
                <td>
                    <a href="/Student/ContactUpdate?personID=@item.personID">Update</a>
                    @*<a asp-action="StudentDetails" asp-route-id="@item.personID">Details</a>*@
                </td>

            </tr>
        }
    </tbody>
</table>

