@model IEnumerable<SMMC.Models.Student>

@{
    ViewData["Title"] = "View Parents Update";
}
<br />
<h2>Update Parents' Info</h2>
<hr />
<br />

<table class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <tr>
            <th>
                Student First Name
            </th>
            <th>
                Student Surname
            </th>
            <th>
                Parent First Name
            </th>
            <th>
                Parent Surname
            </th>
            <th>
                Contact Number
            </th>
            <th>
                Email
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailAddress)
            </td>
            <td>
                <a href="/Student/ParentUpdate?personID=@item.personID">Update</a>
                @*<a asp-action="StudentDetails" asp-route-id="@item.personID">Details</a>*@
            </td>

        </tr>
        }
    </tbody>
</table>

