@model SMMC.Models.Student

@{
    ViewData["Title"] = "Student Details";
}
<h2>Details</h2>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Person ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.personID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            Skill
        </dt>
        <dd>
            @Html.DisplayFor(model => model.skill)
        </dd>
    </dl>
</div>
<div>
    
    @*<a asp-action="StudentDetails" asp-route-id="@Model.personID">Edit</a> |*@
    <a asp-action="StudentView">Back to Student List</a>
</div>
