@model SMMC.Models.Performance

@{
    ViewData["Title"] = "Performance Details";
}
<h2>Details</h2>
<div>
    <h4>Performance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PerformanceID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerformanceID)
        </dd>

        <dt>
            Performance Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerformanceType)
        </dd>

        <dt>
            Performance Title
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerformanceTitle)
        </dd>

        <dt>
            Ensembles Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnsemblesName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venue)
        </dd>

        <dt>
            Performance Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerformanceDate)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="PerformanceView">Back to List</a> |
    <a asp-action="PerformanceUpdate" asp-route-id="@Model.PerformanceID">Update</a> |
    <a asp-action="PerformanceDelete" asp-route-id="@Model.PerformanceID">Delete</a>
</div>