@model IEnumerable<SMMC.Models.Lesson>

@{
    ViewData["Title"] = "Update Lesson";
}
<h2>Lesson</h2>
<hr />


<table class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <tr>
            <th>
                Lesson Name
            </th>
            <th>
                Instrument
            </th>
            <th>
                Size
                @*@Html.DisplayNameFor(model => model.skill)*@
            </th>
            <th>
                Start Time
                @*@Html.DisplayNameFor(model => model.role)*@
            </th>
            <th>
                Date
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.LessonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instrument)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>          
                <td>
                    <a asp-action="LessonUpdate" asp-route-id="@item.LessonID">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>

